body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

img {
  max-height: 200px;
  max-width: 200px;
}

.checkout-form {
  display: flex;
  flex-direction: column;
}

.checkout-item {
  display: flex;
  justify-content: space-evenly;
}

.checkout-item > img {
  max-width: 100px;
}

.checkout-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.checkout-products {
  background-color: aliceblue;
}
